
/* Global Variables */
* {
    box-sizing: border-box;
  }
  html {
    font-size: 100%;
    overflow-y: scroll;
  }
  body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
    margin: 0;
  }
  .swButton {
    display: block;
    font-weight: bold;
  }
  /* ---------------Блоки-----------------*/
  .inputs {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0;
    padding: 24px;
    background-color: #f2f4f7;
  }
  .inputs h2 {
    color: #154558;
  }
  .inputs button {
    background: #2D95BF;
    transition: 0.2s;
  }
  .inputs button:hover {
    background-color: #36a3d0;
  }
  .inputs button:active {
  
  }
  .inputs input {
    transition: 0.2s;
  }
  .inputs input[readonly],
  .inputs input[disabled] {
    background: #deedf3;
    border-color: #deedf3;
  }
  .inputs input:not([readonly]) {
    border-color: #5fb6d9;
    background-color: #fdfdfd;
  }
  .inputs input[readonly]:focus,
  .inputs input[readonly]:hover {
    border-color: #deedf3;
  }
  .inputs input:focus,
  .inputs input:hover {
      border-color: #A2A2A2;
  }
  .addinfo {
    display: inline-block;
    display: none;
    margin: 5px;
    padding: 24px;
    width: 330px;
    vertical-align: top;
  }
  .addinfo h2 {
    color: #816808;
  }
  .addinfo button {
    background: #F0C419;
    transition: 0.2s;
  }
  .addinfo button:hover {
    background-color: #f3d049;
    color: #FFF;
  }
  .addinfo button:active {
  
  }
  .addinfo input {
    transition: 0.2s;
  }
  .addinfo input[disabled]:focus,
  .addinfo input[disabled]:hover {
    border-color: #c6e6f6;
  }
  .addinfo input[type="number"]:focus,
  .addinfo input[type="number"]:hover {
    border-color: #0f8fe1;
  }
  .addinfo input[type="text"]:not([disabled]):focus,
  .addinfo input[type="text"]:not([disabled]):hover {
  
  }
  .addinfo input[type="radio"] + label.ButtonTypeP {
    border-radius: 4px;
    background-color: #ccc;
    cursor: pointer;
    display: block;
    line-height: 2.25rem;
    text-align: center;
    width: 100%;
    color: white;
  }
  .addinfo input[type="radio"] + .ButtonTypeP:hover {
    background: #2D95BF;
  }
  .addinfo input[type="radio"] + .ButtonTypeP:active {
    background: #2D95BF;
  }
  .addinfo input[type="radio"]:first-child + label.ButtonTypeP {
    margin-bottom: 12px;
  }
  .addinfo input[type="radio"]:checked + label.ButtonTypeP,
  .addinfo input[type="radio"]:checked + label.ButtonCommis {
    background-color: #5fb6d9;
    color: white;
  
  }
  .addinfo input[type="checkbox"]:checked + label.labelinput {
    background-color: #e1b60f;
    color: white;
  
  }
  .addinfo input[type="checkbox"]:checked + label.ButtonCommis:before {
      content: "%";
      color: #2c95bf;
      transform: translateX(0);
      transition: transform 0.3s;
  }
  .addinfo input[type="checkbox"] + label.ButtonCommis:before {
      content: "P";
      display: inline-block;
      width: 30px;
      text-align: center;
      color: #2c95bf;
      font-weight: bold;
      cursor: pointer;
      background-color: #f4f5f7;
      border-radius: 4px;
      transform: translateX(30px);
      transition: transform 0.3s;
  }
  .addinfo input[type="checkbox"] + label.ButtonCommis:after {
    content: '';
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e1b60f;
    font-weight: bold;
    cursor: pointer;
    border-right: 1px solid #e1b60f;
  }
  .addinfo input[type="checkbox"]:checked + label.ButtonCommis:after {
    color: #f6dd79;
  }
  .addinfo .ButtonCommis {
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
  }
  .addinfo .addInfo-block {
    margin-bottom: 2.5rem;
  }
  .addinfo .addInfo-comis-inp {
    position: relative;
  }
  .addinfo .labelinput {
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: #F0C419;
    border-radius: 4px;
    display: block;
    text-align: center;
    color: #f6dd79;
  }
  .resultTbl {
      width: 100%;
  }
  .outputs {
    margin: 6px 0;
    padding: 24px;
  }
  .outputs h2 {
    color: #154558;
  }
  .outputs button {
    background: #F15A5A;
    transition: 0.2s;
  }
  .outputs button:hover {
    background-color: #f58989;
    color: #FFF;
  }
  .outputs button:active {
    background-color: #ef4242;
  
  }
  .outputs .output {
      font-family: 'Montserrat', sans-serif;
      background: none;
      border: none;
      color: #2c95bf;
      font-weight: bold;
      width: 110px;
      font-size: 1rem;
  }
  .payments {
    margin: -35px 5px 0;
    padding: 24px;
  }
  .payments h2 {
    color: #266239;
  }
  .payments button {
    background: #F15A5A;
    transition: 0.2s;
  }
  .payments button:hover {
    background-color: #73c88d;
    color: #FFF;
  }
  .payments button:active {
    background-color: #43ac63;
  
  }
  .buttons {
    border: 1px solid #955BA5;
    margin: 0 5px;
    border-radius: 4px;
    display: block;
    width: 674px;
    padding: 24px;
  }
  a {
    color: #2653af;
  }
  a.linkselect {
    margin: 0;
    padding: 0;
    color: blue;
    position: absolute;
    line-height: 1.5rem;
    color: #46b2cf;
  }
  .link {
    padding: 0 0 0 1rem;
    display: block;
    width: 14rem;
    line-height: 4rem;
    text-decoration: none;
  }
  .link:hover {
    text-decoration: none;
    color: #fff;
    background: #424b5f;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /*---------------- Блоки -----------------*/
 .container {
     max-width: 1140px;
     padding: 0 15px;
     margin: 0 auto;
 }
  article {
    position: relative;
    margin: 5px auto;
    font-size: 0.9rem;
  }
  .content {
    height: 500px;
    border: 1px solid #000;
    margin: 5px;
  }
  .headtop {
    height: 4rem;
    width: 1030px;
    border: 1px solid #000;
    margin: 5px;
  }
  .left_col {
    display: block;
    width: 100%;
    
    margin: 5px;
  }
  /*
  .buttons{
      display: inline-block;
      width: 330px;
      bottom: 195px;
      margin: 0 5px; 
  }
  */
  footer {
    margin: 5px;
    height: 11.625rem;
    background: #2ecc71;
    clear: both;
  }
  /*------------- Заголовки --------------------*/
  h1 {
    height: 3rem;
    margin: 0;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    color: #154558;
  }
  h2 {
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0;
    white-space: nowrap;
  }
  h3 {
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: #606366;
    margin: 7px 0 0 0;
  }
  /* ------------------ Таблицы ------------------------*/
  tbody > tr > td:first-of-type {
    width: 180px;
  }
  .addInfoTbl td {
    padding-top: 2px;
  }
  .addInfoTbl {
    display: block;
  }
  .paymentTbl tr.blue th {
    background-color: #5fb6d9;
    color: white;
    padding: 16px 0;
    text-align: center;
  }
  .inputsTbl {
    width: 100%;
  }
  .paymentTbl {
    text-align: right;
    margin-right: 5px;
    line-height: 1.6rem;
  }
  .paymentTbl tr:hover {
    background: #e0e0e0;
  }
  .paymentTbl td {
    border-bottom: 1px solid #5fb6d9;
    color: #606366;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }
  .jc-c {
      justify-content: center;
  }
  caption {
        margin-bottom: 15px;
  }
  .paymentTbl th {
    border-bottom: 1px solid #5fb6d9;
    font-size: 16px;
    text-align: center;
    line-height: 1rem;
    color: rgba(0, 0, 0, 0.54);
  }
  .paymentTbl td:not(:last-child) {
    padding-right: 10px;
  }
  .paymentTbl td {
      padding-top: 16px;
      padding-bottom: 16px;
  }
  #Payments {
      margin-top: 30px;
  }
  td {
    color: #606366;
    position: relative;
  }
  .firstcol {
    width: 5%;
  }
  /* ------------------ Меню и навигация ------------------------*/
  nav {
    width: 685px;
    margin: 15px auto;
  }
  nav ul li {
    display: inline-block;
    padding: 0 1rem;
    color: #46B2CF;
  }
  nav .swButton {
    font-weight: normal;
    cursor: pointer;
  }
  .header-calc {
      display: none;
  }
  header {
    border-bottom: 1px solid #2D95BF;
  }
  .headerblock {
    position: relative;
    width: 685px;
    margin: 0px auto;
  }
  menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 3rem;
    line-height: 3rem;
  }
  .rightmenu {
    width: 120px;
    background: #3c454d;
    position: absolute;
    top: 0;
    right: -120px;
    color: white;
  }
  /*--------------------- Поля -----------------------*/
  .readWide {
    width: 8rem;
    text-align: right;
    padding: 0.2rem 0.7rem;
    font-size: 1.1rem;
    border: none;
    background: #ecf0f1;
  }
  .hide {
      display: none;
  }
  .flex {
      display: flex;
  }
  .table__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
  }
  .table__column-3 {
      width: 33.3333%;
      padding: 0 15px;
  }
  .table__column-6 {
      width: 50%;
      padding: 0 15px;
  }
  .table__column-6 > td {
      width: auto !important;
      margin-right: 20px; 
  }
  .table__column-3 > td{
      display: block;
      width: 100% !important;
  }
  input:focus {
    outline: none;
  }
  .editWide {
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
    border-radius: 4px;
    border-width: 1px;
    width: 100%;
    background: none;
  }
  .switch {
    display: none;
  }
  /* ------------------ Радио кнопки ------------------*/
  input[type="radio"]:checked + label.swButton {
    text-decoration: underline;
  }
  input[type="radio"] + label:hover.swButton {
    text-decoration: underline;
  }
  /* --------------- Кнопки ----------------*/
  button {
    padding: 0px 35px;
    margin: 1rem 0 0 0;
    width: 100%;
    height: 2.25rem;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: larger;
    cursor: pointer;
    outline: none;
  }
  /*-----------------Инструменты ----------------------*/
  p {
    float: left;
    width: 26.375rem;
    padding: 2rem 4rem;
  }
  .line {
    border-bottom: thin solid #B1BEC6;
  }
  .pdr {
    padding-right: 10px;
  }
  .right {
    float: right;
  }
  /*-----------------Мобильная версия ----------------------*/
  /*------------------------------------------------------------------*/
  @media only screen and (max-width: 500px) {
    h1 {
      display: block;
      font-size: 1rem;
      height: auto;
      line-height: 1rem;
    }
    form {
      width: 100%;
    }
    body {
      width: 100%;
      position: relative;
    }
    header {
      width: 96%;
      height: auto;
      margin: 2% auto;
    }
    article {
      width: 96%;
      height: auto;
      margin: 2% auto;
    }
    nav {
      width: 100%;
    }
    nav ul li {
      display: block;
    }
    .left_col {
      min-width: 330px;
      width: 100%;
      margin: 0;
    }
    .linkselect {
      display: none;
    }
    .inputs {
      width: 100%;
      position: inherit;
      margin: 5px 0;
    }
    .addinfo {
      min-width: 330px;
      width: auto;
      display: BLOCK;
      margin: 5px 0;
    }
    .buttons {
      width: 100%;
      position: inherit;
    }
    .outputs {
      min-width: 330px;
      width: auto;
      display: block;
      margin: 0;
    }
    .payments {
      width: auto;
      margin: 0;
    }
    input[type="radio"] + label.ButtonCommis {
      width: 35px;
    }
    input[type="radio"]:checked + label.swButton {
      text-align: center;
    }
    input[type="radio"] + label.swButton {
      text-align: center;
      border-bottom: 2px solid;
    }
  }